{% if settings.site_settings.SocialMediaSettings.facebook %}
    <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}">
        <i class="fab fa-facebook"></i>
    </a>
{% endif %}
{% if settings.site_settings.SocialMediaSettings.twitter %}
    <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}">
        <i class="fab fa-twitter"></i>
    </a>
{% endif %}
{% if settings.site_settings.SocialMediaSettings.vkontakte %}
    <a href="{{ settings.site_settings.SocialMediaSettings.vkontakte }}">
        <i class="fab fa-vk"></i>
    </a>
{% endif %}