{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="0780192b-7e0b-4d5a-bb6f-e1ff4f247e44" data-blockingmode="auto" type="text/javascript"></script>
    <meta charset="utf-8" />
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <script src="https://kit.fontawesome.com/53e0b465a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stepchengeru.css' %}">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>


<!-- TODO: BODY CLASS ADD IN EDIT FORM -->
<body id="Body" class="{% block body_class %}
    {% endblock %}">


    {% include "patterns/organism/header.html" %}
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

<div id="page">
    <main>
        <div class="g-page-container-test">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include "patterns/organism/fotter.html" %}
    {% include "patterns/organism/cybot_cookiebot_dialog.html" %}
</div>

    {% wagtailuserbar %}

{# Global javascript #}
<script type="text/javascript" src="{% static 'js/stepchengeru.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% block extra_js %}
    {# Переопределите это в шаблонах, чтобы добавить дополнительный JavaScript #}
{% endblock %}
</body>
</html>
