{% load static %}

<footer id="wholeFooter">
<div id="footerContainer">
    <!-- Meta -->


        <link href="/Portals/0/Footer/footer.css" type="text/css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">





     <!-- Social links -->

        <div class="footerTop">
            <ul class="socialLinks">
                <li><a href="https://www.facebook.com/stepchangedebtcharity" target="_blank"><img alt="Значок Facebook" src="{% static "img/fotter/Facebook.png" %}" class="socialLinksImages"></a></li>
                <li><a href="https://twitter.com/StepChange" target="_blank"><img alt="Значок Twitter" src="{% static "img/fotter/Twitter.png" %}" class="socialLinksImages"></a></li>
                <li><a href="https://www.youtube.com/c/StepChangeDebtCharity" target="_blank"><img alt="Значок YouTube" src="{% static "img/fotter/YouTube.png" %}" class="socialLinksImages"></a></li>
                <li><a href="https://www.linkedin.com/company/stepchange-debt-charity" target="_blank"><img alt="Значок LinkedIn" src="{% static "img/fotter/LinkedIn.png" %}" class="socialLinksImages"></a></li>
            </ul>

            <img id="aqsIMG" src="{% static "img/fotter/AQS_logo_CMYK(300dpi)hi%20res%20print.jpg" %}" alt="логотип aqs">

            <a class="feefoImage" href="https://www.feefo.com/en-GB/reviews/step-change-debt-charity" target="_blank"><img alt="логотип FIFFO" src="{% static "img/fotter/feefo-platinum-2019.png" %}"></a>
        </div>



    <!-- Mega footer links -->

         <nav class="footerNav">

            <div class="footerNavColumn">
                <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наши долговые решения</font></font></h4>

                <ul>
                    <li><a href="/how-we-help/debt-management-plan.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">План управления долгом (DMP)</font></font></a></li>
                    <li><a href="/how-we-help/debt-relief-order.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Распоряжение о списании долгов (УЦИ)</font></font></a></li>
                    <li><a href="/how-we-help/individual-voluntary-arrangement.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Индивидуальное добровольное соглашение</font></font></a></li>
                    <li><a href="/how-we-help/bankruptcy.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Совет по банкротству</font></font></a></li>
                    <li><a href="/how-we-help/sequestration-scotland.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Банкротство (Секвестрация)</font></font></a></li>
                    <li><a href="/how-we-help/minimal-asset-process-bankruptcy.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Процесс минимальных активов (MAP)</font></font></a></li>
                    <li><a href="/how-we-help/equity-release.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Выпуск акций</font></font></a></li>
                    <li><a href="/how-we-help/debt-arrangement-scheme.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Схема урегулирования задолженности (DAS)</font></font></a></li>
                    <li><a href="/how-we-help/trust-deed-scotland.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Защищенный акт доверия</font></font></a></li>
                    <li><a href="/how-we-help/mortgages.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ипотечный совет</font></font></a></li>
                </ul>
            </div>

            <div class="footerNavColumn">
                <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Руководства по долгам</font></font></h4>

                <ul>
                    <li><a href="/debt-info/debt-collection.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Процесс сбора</font></font></a></li>
                    <li><a href="/debt-info/debt-solutions.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Долговые решения</font></font></a></li>
                    <li><a href="/debt-info/dealing-with-debt-problems.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Работа с долгами</font></font></a></li>
                    <li><a href="/debt-info/types-of-debt.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Типы долгов</font></font></a></li>
                    <li><a href="/debt-info/your-financial-situation.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Деньги и бюджетирование</font></font></a></li>
                    <li><a href="/persistent-debt.aspx" title="Постоянный долг помогает"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Постоянный долг</font></font></strong></a></li>
                </ul>
            </div>

            <div class="footerNavColumn">
                <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">О нас</font></font></h4>

                <ul>
					<li><a href="/about-us/what-we-do.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Что мы делаем</font></font></a></li>
                    <li><a href="/contact-us.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Связаться</font></font></a></li>
					<li><a href="/about-us/jobs-at-stepchange.aspx"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Работа и карьера</font></font></strong></a></li>
                    <li><a href="/about-us/partner-with-us.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Партнер с нами</font></font></a></li>
                    <li><a href="/media-centre.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Медиа центр</font></font></a></li>
                    <li><a href="/policy-and-research.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Кампания для вас</font></font></a></li>
					<li><a href="/legal/anti-slavery-statement.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Заявление о рабстве</font></font></a></li>
                    <li><a href="/Legal/complaints-process.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">жалобы</font></font></a></li>
                </ul>
            </div>

            <div class="footerNavColumn">
                <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Об этом сайте</font></font></h4>

                <ul>
                    <li><a href="/legal.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">легальный</font></font></a></li>
                    <li><a href="/legal/privacy-policy.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Политика конфиденциальности</font></font></a></li>
                    <li><a href="/legal/cookie-policy.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Политика в отношении файлов cookie</font></font></a></li>
                    <li><a href="/accessibility.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">доступность</font></font></a></li>
					<li><a href="/legal/our-terms.aspx"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наши условия</font></font></a></li>
                </ul>
            </div>

        </nav>

        <a class="returnToTop" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вернуться наверх</font></font><i class="icon-chevron-up">&nbsp;</i></a>




    </div>

    <!-- StepChange logo -->
    <div id="bottomFooter">
        <div class="logoContainer">
            <a href="/"><img class="logo" alt="Логотип StepChange" src="{% static "img/fotter/stepchange_logo.png" %}" style="max-width: 160px"></a>
        </div>

    <!-- Disclaimer -->

        <div class="disclaimer">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Фонд кредитного консультирования Уэйд Хаус, Merrion Center, Лидс, LS2 8NG, торгующий как StepChange Debt Charity и StepChange Debt Charity Scotland. </font><font style="vertical-align: inherit;">Зарегистрированная благотворительная организация №1016630 и SC046263. </font><font style="vertical-align: inherit;">Это компания с ограниченной ответственностью, зарегистрированная в Англии и Уэльсе (компания: 2757055). </font><font style="vertical-align: inherit;">Утверждено и регулируется Управлением финансового поведения. </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">

            Мы ссылаемся на внешние сайты, где они содержат актуальную информацию для наших посетителей. </font><font style="vertical-align: inherit;">Мы не несем ответственности за содержание этих веб-сайтов или любое нарушение ваших прав на данные в соответствии с правилами защиты данных любым внешним поставщиком веб-сайтов. </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">

            © StepChange Долговой Благотворительный фонд 2019</font></font></p>
        </div>

    </div>

</footer>