color: #333;
-webkit-font-smoothing: antialiased;
list-style: none;
box-sizing: border-box;
font: inherit;
margin: 0;
padding: 0;
border: 0;
font-weight: 400;
vertical-align: baseline;
max-width: 100%;
font-size: 0;
display: block;
min-width: 100%;
object-fit: cover;
object-position: right;
width: 100%;
height: auto;